* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column; /* Stack navbar and content */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: hsl(210, 20%, 97%);
}

@font-face {
    font-family: nova;
    src: url(logo/Nova_Flat/NovaFlat-Regular.ttf);
}

.navbar {
    width: 100%; /* Full width */
    display: flex;
    justify-content:space-between; /* Align items to the start (left) */
    align-items: center;
    padding: 15px 40px;
    width: 100%;
    position: fixed; /* Fixed position at the top */
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it stays above other content */

}

.navbar a{
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: black;
    font-family: nova;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Add space between logo and menu items */
    cursor: pointer;
}

.navbar .logo {
    margin-right: 20px; /* Add space between logo and menu items */
    text-decoration: none;
    color: black;
    font-family: nova;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Add space between logo and menu items */
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-right: auto; /* Pushes the profile icon to the right */
}

.navbar ul li {
    margin: 0 25px; /* Increase space between li items */
    font-size: 14px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.navbar ul li a:hover {
    color:  rgb(255, 221, 0);
}

.profile-actions {
    display: flex;
    align-items: center;
}

.page {
    width: 480px;
    height: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
    padding: 25px;
    border-radius: 4px;
    margin-top: 10px; /* Space for fixed navbar */
    background: #ffff;
    font-size: 14px;
}

.header_content .header_content_heading{
    text-align: center;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    padding: 0 0 20px 0;
}

.input_box{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.input_field{
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 5px;
    /*margin-top:24px*/
    margin-bottom: 5px;
    width: 100%;
    cursor: text;
    box-shadow: 0;
}

label {
    font-size: 16px;
}

input{
    background: transparent;
    border: 1px solid rgba(0,0,0,0.2);
    opacity: 1;
    outline: 0;
    padding: 10px;    
    font-size: 14px;
    color: rgb(84, 84, 84);
    font-weight: 400;
    box-sizing: border-box;
    padding-block: 1px;
}

.login_box .input_field:hover{
    outline: 1px solid hsl(210, 90%, 40%);
}

.login_box .input_field:active{
    background-color: hsla(210, 90%, 40%, 0);
}

.input_field:focus {
   outline: 1px solid black;
}

.input_submit{
    position: relative;
}

.input_box.success .input_field{
    border-color: rgba(0,0,0,0.2);
}

.input_box.error .input_field{
    border-color: #d11124;
}

.input_box small{
    color: #d11124;
    position: absolute;
    visibility: hidden;
}

.input_box.error small{
    visibility: visible;
}

p a{
    text-decoration: none;
}

p a:hover{
    text-decoration: none;
    color: rgb(255, 221, 0);;
}

.p a{
    color:black;
    font-weight: bold;
    text-decoration: none;
}

.p{
    text-align: center;
    color: black;
    padding-top: 26px;
    padding-bottom: 1px;
}

.submit_btn{
    width: 100%;
    height: 45px;
    background:  rgb(255, 220, 0);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
    outline-width: 2px;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: .3s ease;
}

.submit_btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.submit_btn:hover{
    background:  #e8c900;
}

.submit_btn:active{
    background-color: #ffea63;
}

.input_submit label{
    position: absolute;
    color: white;
}

.input_submit{
    padding-top: 15px;
}

.forget_password{
    position: relative;
    font-size: 18px;
    cursor: pointer;
}

.forget_password a{
    color: hsl(201, 100%, 35%);
    display: inline-block;
    text-decoration: none;
}

.forget_password a:hover{
    color: #e8c900;
    text-decoration:  underline;
}

.search-container {
    margin-right: 20%; /* Space between search bar and profile actions */
}

.search-bar {
    height: 35px;
    padding: 5px 10px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
    width: 350px; /* Adjust width to your preference */
}

.search-bar:hover {
    border-color: hsl(210, 90%, 40%);
    outline: none;
}

.search-bar:focus {
    border-color: black;
    outline: none;
}

.search-bar::placeholder {
    color: rgb(94, 94, 94);
}

/*
.third_party_join_container{
    padding-bottom: 2px;
    width: 100%;
}

.third_party_join_reg_option{
    display: block;   
    width: auto;
    margin: 16px auto;
    color: #696c6f;
    text-align: center;
    margin-top: 5px;
    position: relative;
}

.third_party_join_or_span {
    font-size: 16px;
    padding: 0 16px;
    background: #fff;
}

.third_party_join_content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.third_party_join_line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #cdcfd2;
    vertical-align: middle;
}

.icons{
    text-align: center;
    padding-top: 0px;
}

.icons i{
    color: hsl(210, 90%, 50%);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #dfe9f5;
    margin: 0 15px;
  
}

.icons i:hover{
    background: #0a66c2;
    border: 1px solid #0a66c2;
}
*/

input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black !important;
}

footer {
    width: 100%; /* Full width */
    position: relative; /* Ensure it's within the flow of the document */
    bottom: 0; /* Stick to the bottom */
    background-color: #424242;
    padding: 20px;
}

footer-copyright {
    width: 100%; /* Full width */
    background-color: #212121;
    padding: 10px;
    text-align: center;
    color: white;
}

.sign_up_link p{
    color: #333;
    font-weight: 400;
    font-size: 14px;
}